eksCluster:
  name: lomeone-eks
nodePool:
  name: default
  labels: {}
  expireAfter: 720h
  terminationGracePeriod: 10m
  requirements:
    - key: karpenter.k8s.aws/instance-family
      operator: In
      values: ["t4g"]
    - key: karpenter.k8s.aws/instance-cpu
      operator: In
      values: ["2", "4"]
    - key: karpenter.k8s.aws/instance-memory
      operator: In
      values: ["2048", "4096", "8192", "16384"]
    - key: karpenter.sh/capacity-type
      operator: In
      values: ["spot"]
    - key: kubernetes.io/arch
      operator: In
      values: ["arm64"]
  disruption:
    consolidationPolicy: WhenEmptyOrUnderutilized
    consolidateAfter: 10m
  limit:
    cpu: 20
    memory: 80Gi
nodeClass:
  name: default
  amiFamily: AL2023
  amiSelectorTerms:
    - alias: al2023@latest
