apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: istio-cni
  {{ with .Values.prometheus.podMonitor.selector.matchLabels }}
  labels:
    {{ toYaml . | nindent 4 }}
  {{ end }}
spec:
  selector:
    matchLabels:
      k8s-app: istio-cni-node
  namespaceSelector:
    matchNames:
      - istio-system
  podMetricsEndpoints:
    - port: metrics
      interval: 15s
      path: /metrics
