apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: {{- include "prometheus.name" . | indent 1 }}
  labels:
    {{- include "prometheus.labels" . | nindent 4 }}
spec:
  # Prometheus 인스턴스를 관리할 서비스 어카운트
  serviceAccountName: prometheus-istio # ServiceAccount 이름
  # 스크랩 설정을 위한 PodMonitor와 ServiceMonitor를 찾을 selector
  serviceMonitorSelector:
    {{ with .Values.prometheus.serviceMonitor.selector.matchLabels }}
    matchLabels:
      {{ toYaml . | nindent 6 }}
    {{ end }}
  podMonitorSelector:
    {{ with .Values.prometheus.podMonitor.selector.matchLabels }}
    matchLabels:
      {{ toYaml . | nindent 6 }}
    {{ end }}
  ruleSelector:
    matchLabels:
      {{- include "prometheus.labels" . | nindent 6 }}
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 256Mi
