apiVersion: v1
kind: Service
metadata:
  name: {{- include "prometheus.name" . | indent 1 }}
spec:
  type: ClusterIP
  ports:
    - name: web
      port: 9090
      protocol: TCP
      targetPort: web
  selector:
    app.kubernetes.io/instance: {{- include "prometheus.name" . | indent 1 }}
    prometheus: {{- include "prometheus.name" . | indent 1 }}
