alertmanager:
  enabled: false
grafana:
  enabled: true
  forceDeployDatasources: true
  forceDeployDashboards: true
  defaultDashboardsEnabled: true
  operator:
    dashboardsConfigMapRefEnabled: true
    matchLabels:
      dashboard: grafana
kubeProxy:
  enabled: false
kubeStateMetrics:
  enabled: false
nodeExporter:
  enabled: false
prometheusOperator:
  tls:
    enabled: false
  admissionWebhooks:
    enabled: false
    annotations:
      argocd.argoproj.io/hook: PreSync
      argocd.argoproj.io/hook-delete-policy: HookSucceeded
    mutatingWebhookConfiguration:
      annotations:
        argocd.argoproj.io/hook: PreSync

    validatingWebhookConfiguration:
      annotations:
        argocd.argoproj.io/hook: PreSync

    deployment:
      tls:
        enabled: false
    patch:
      annotations:
        argocd.argoproj.io/hook: PreSync
        argocd.argoproj.io/hook-delete-policy: HookSucceeded
  resources:
    requests:
      cpu: 50m
      memory: 128Mi
    limits:
      memory: 128Mi

prometheus:
  prometheusSpec:
    enableRemoteWriteReceiver: true
    resources:
      requests:
        cpu: 100m
        memory: 1Gi
      limits:
        memory: 1Gi
cleanPrometheusOperatorObjectNames: true
