prometheus:
  name: istio-prometheus
  serviceAccount:
    name: istio-prometheus
  serviceMonitor:
    selector:
      matchLabels:
        app: istio
  podMonitor:
    selector:
      matchLabels:
        app: istio

serviceEntry:
  entries:
    - name: aws-resource
      hosts:
        - "*.ap-northeast-2.amazonaws.com"
      ports:
        - number: 443
          name: aws
          protocol: HTTPS
      location: MESH_EXTERNAL
      resolution: DNS
      exportTo:
        - "*"
