serviceAccount:
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::396428372646:role/ExternalDNSRole-lomeone-eks

env:
  - name: AWS_DEFAULT_REGION
    value: ap-northeast-2

resources:
  requests:
    cpu: 10m
    memory: 64Mi
  limits:
    memory: 64Mi

serviceMonitor:
  enabled: true

sources:
  - service
  - ingress
  - gateway-httproute
  - istio-gateway
  - istio-virtualservice

policy: sync

provider:
  name: aws
